<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    body, html {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .bg {
      background-image: url("/images/default/1.jpg");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</head>
<body>
  <div class="bg" id="gambar"></div>
</body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script>
const path = window.location.pathname;
const number = path.substring(path.lastIndexOf('/') + 1);
const value = parseInt(number, 10);
const socket = io();
let resetTimeout;

  socket.on('change', (path, screen_count) => {
    let gmbr = document.getElementById("gambar");
    if(value <= screen_count){
      gmbr.style.backgroundImage = `url("${path[number]}")`;
    }

    if (resetTimeout) {
      clearTimeout(resetTimeout);
    }

    resetTimeout = setTimeout(() =>{
      gmbr.style.backgroundImage = 'url("/images/default/1.jpg")'
      socket.emit('reset');
    }, 15000);
  });

</script>